@import 'variables';

.dark-theme {
    background-color: $dark;
    color: $light;
    a {
        color: $light;
    }
}

.light-theme {
    background-color: $light;
    color: $dark;
    a {
        color: $dark;
        &:hover {
            color: $font-primary;
        }
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: $font-primary;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    text-decoration: none;

    p {
        font-size: 0.8rem;
    }
    
    a {
        text-decoration: none;
        &:hover {
            color: $color-accent;
        }
    }

    &::selection {
        background-color: $color-secondary;
    }
}

.icon {
    font-size: 1.4rem;
    padding: $xs-size;

    &__active:hover {
        color: $color-accent;
    }
}


@media (min-width: $break-md) {
    p {
        font-size: 1.2rem;
    }
}
