html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: "Rubik", Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  text-decoration: none;
}

html p {
  font-size: 0.8rem;
}

html a {
  text-decoration: none;
  color: white;
}

html a:hover {
  color: #FFA800;
}

html::-moz-selection {
  background-color: #00D2D2;
}

html::selection {
  background-color: #00D2D2;
}

.icon {
  font-size: 1.4rem;
  padding: 4px;
}

.icon__active:hover {
  color: #FFA800;
}

@media (min-width: 960px) {
  p {
    font-size: 1.2rem;
  }
}

main {
  margin-top: 100px;
}

.index__text-1 {
  font-size: 4rem;
  line-height: 4.2rem;
  text-align: center;
  margin: 0;
}

.index__text-2 {
  font-size: 4rem;
  line-height: 4.2rem;
  text-align: center;
  color: #FF007A;
  margin: 0 0 40px 0;
}

.index__section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index__section-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#00d2d2), to(#ff007a));
  background-image: linear-gradient(90deg, #00d2d2 0%, #ff007a 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  /*@media (min-width: $break-md) {
                height: 4.5rem;
                left: -80%;
                position: relative;
                top: 50%;
                width: 25vw;
                &:hover {
                    animation-name: increaseBar;
                    animation-duration: 1s;
                    p {
                        visibility: inherit;
                    }
                }
            }*/
}

.index__section-bar p {
  font-size: 1.1rem;
}

.index .icon {
  display: none;
}

@-webkit-keyframes increaseBar {
  from {
    width: 25vw;
  }
  to {
    width: 45vw;
  }
}

@keyframes increaseBar {
  from {
    width: 25vw;
  }
  to {
    width: 45vw;
  }
}

.upper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
}

.upper-nav__icon {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.dark-mode {
  display: none;
}

.dark-mode:hover {
  color: #FFA800;
}

.sidebar {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  margin-bottom: 40px;
  /*@media (min-width: $break-md) {
        flex-direction: column;
        align-items: flex-end;
    }*/
}

.sidebar img {
  margin: 4px;
  width: 40px;
  opacity: 60%;
}

.sidebar img:hover {
  opacity: 100%;
}

.mobile-nav {
  padding: 24px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  min-width: -webkit-fill-available;
}

.mobile-nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.mobile-nav__icon :hover {
  color: #FFA800;
}

.lower-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}

@media (min-width: 960px) {
  .lower-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.list-nav {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  height: 100vh;
  background-color: black;
}

.list-nav i {
  text-align: end;
}

.list-nav ul {
  list-style: none;
}

.list-nav__item {
  font-size: 1.2rem;
  padding: 8px;
}

.list-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  font-weight: 100;
  text-align: center;
}

footer div {
  padding: 16px;
  margin-bottom: 40px;
}

footer div a {
  padding: 4px;
}

footer .sign {
  color: #FFA800;
  font-size: 12px;
}

.banner {
  margin-top: 24px;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFA800;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner i {
  padding: 8px;
}

.fixed-button {
  color: white;
  background-color: #FF007A;
  margin: auto;
  padding: 4px 16px 4px 4px;
  border-radius: 24px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.fixed-button a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  color: white;
}

.fixed-button a i {
  padding-right: 16px;
}

.fixed-button a:hover {
  color: black;
}

@-webkit-keyframes translateIcon {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

@keyframes translateIcon {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

.moving-icon {
  -webkit-animation: translateIcon 0.6s ease 0s infinite alternate;
          animation: translateIcon 0.6s ease 0s infinite alternate;
}

/*
@media (min-width: $break-md) {
    .index {
        padding-left: 25vw;
        &__text {
            text-align: left;
            max-width: 30vw;
        }
        &__section{
            flex-direction: row;
            
            p {
                visibility: hidden;
            }            
        }
        .icon {
            display: block;
        }
    }
}
*/
/*# sourceMappingURL=main.css.map */